.hero{
    font-weight: 320;
    color: white;
}
.main {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.language-filter{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
}
.users-container{
    margin-top: 40px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   row-gap: 15px;
   
   
}
.user-card{
    max-height: 240px;
    width: 28vw;
    backdrop-filter: blur(10px);
    flex-grow: 1;
    padding: 1rem;
    border: 0.5px solid rgba(214, 214, 214, 0.41);
    border-radius: 15px;
    margin: 0rem 10px ;
    
}
.user-nav{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.user-nav-bar{
    display: flex;
    column-gap: 10px;
}
.user-nav-bar img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1.5px solid rgba(252, 62, 233, 0.532);
}
.main-img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0;
    column-gap: 20px;
}
.main-img img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1.2px solid rgba(252, 62, 233, 0.532);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.656);
     aspect-ratio: 1 / 1;
    object-fit: cover;
}
.user-active-status{
    height: 4px;
    width: 4px ;
    background-color: red;
}
.loading{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;

}

.open-connection{
    height: 100px;
    width: 300px;
    background-color: aqua;
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
}
.message{
    position: fixed !important;
    right: 20px !important;
    bottom: 70px;
    padding: 12px;
    background-color: #364bc5;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px 0 20px 20px;
   
}
.gini-box{
   
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.gini-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.524);
    padding: 5px 4px;
    background: linear-gradient(90deg, #a955f79d 0%, #6365f19a 100%);
    border-radius: 10px;
    
}
.gini{
    
    height: 100px;
    
}
.gini-mobile{
    display: none;
}




@media(max-width:811px){
    .user-card{
    width: 100% !important;
    flex-grow: 1;
    
    }
   .main-img {
    column-gap: 10px;
   }
   .main-img Button{
    font-size: 0.85rem;
   }
   .message{
    bottom: 60px;
   }
   .gini-box{
    display: none;
   }
   .gini-mobile{
    display: block;
   font-weight: 600;
    background: linear-gradient(90deg, #a955f79d 0%, #6365f19a 100%);
     box-shadow: 
    inset 0 1px 1px rgba(255, 255, 255, 0.4), 
    0 10px 20px -5px rgba(99, 101, 241, 0.402);
    width: 80%;
    margin: auto;
     margin-top: 20px;
     border-radius: 15px;
      display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }
    

}   
@media (min-width:811px) and (max-width:1100px ){
    .user-card{
    width: 44vw !important;
    flex-grow: 1;
    }
      .main-img Button{
    font-size: 1rem !important;
   }
      .gini-mobile{
    display: none;
}

}

